<h3 class="text-4xl">Les jeudis de la création et de la reprise</h3>
<form data-request="{{ __SELF__ }}::onSelectDate" data-request-update="'{{ __SELF__ }}::available-dates': '#available-dates'">
    {% for type in __SELF__.appointmentTypes %}
    <div>
        <input type="radio" name="appointment_type" value="{{ type.id }}" id="appointment_type-{{type.id}}" />
        <label for="appointment_type-{{type.id}}">
            <span>{{type.name}}</span>
            <p>{{type.description}}</p>
            <span>Durée du rendez-vous: {{ type.duration }} minutes</span>
        </label>
    </div>
    {% endfor %}
    <label for="day_of_week">Day of week: </label>
    <select name="day_of_week" id="day_of_week">
        <option value="1">{{ 'romainmazb.appointment::lang.general.days_name.day1' | trans }}</option>
        <option value="2">{{ 'romainmazb.appointment::lang.general.days_name.day2' | trans }}</option>
        <option value="3">{{ 'romainmazb.appointment::lang.general.days_name.day3' | trans }}</option>
        <option value="4">{{ 'romainmazb.appointment::lang.general.days_name.day4' | trans }}</option>
        <option value="5">{{ 'romainmazb.appointment::lang.general.days_name.day5' | trans }}</option>
        <option value="6">{{ 'romainmazb.appointment::lang.general.days_name.day6' | trans }}</option>
        <option value="0">{{ 'romainmazb.appointment::lang.general.days_name.day0' | trans }}</option>
    </select>
    <input type="submit">
</form>
<div id="available-dates">
</div>
